---
---

// Palette
// #F76E11
// #FF9F45
// #FFBC80
// #FC4F4F
// Itim font


$header-bg-color: #FF9F45;
$header-bg-color-secondary: #F76E11;

$section-headings-color: #FC4F4F !default;

@import "{{ site.theme }}";